/docs/组队学习/2024-07大模型框架llama_index/.idea/
/docs/组队学习/2024-07大模型框架llama_index/.venv/
/docs/组队学习/2024-06向量数据库Milvus/.venv/
/docs/组队学习/2024-06向量数据库Milvus/volumes/
/docs/组队学习/2024-06向量数据库Milvus/wiki_movie_plots_deduped.csv
docs/.DS_Store
.DS_Store
.idea/jupyter-settings.xml
.idea/misc.xml
.idea/my_blog.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
docs/.DS_Store
docs/组队学习/.DS_Store
docs/组队学习/2024-04LLM之RAG实战(DOING)/.DS_Store
.DS_Store
docs/组队学习/2024-06向量数据库Milvus/.ipynb_checkpoints/milvus基本使用-checkpoint.ipynb
docs/.DS_Store
docs/组队学习/.DS_Store
docs/组队学习/2024-06向量数据库Milvus/.ipynb_checkpoints/Milvus_Demo-checkpoint.ipynb
.DS_Store
docs/.DS_Store
docs/组队学习/.DS_Store
.DS_Store
.gitignore
docs/.DS_Store
docs/组队学习/.DS_Store
docs/学习/异步编程基础/img/Task1/(null)
docs/学习/异步编程基础/img/Task1/(null)-20240521171425076.(null)
docs/学习/异步编程基础/img/Task1/(null)-20240521171425078.(null)
docs/学习/异步编程基础/img/Task1/(null)-20240521171425109.(null)
docs/学习/异步编程基础/img/Task1/(null)-20240521171425139.(null)
docs/组队学习/.DS_Store
/docs/组队学习/2024-06大模型开发实战/code/.env
