/docs/组队学习/2024-07大模型框架llama_index/.idea/
/docs/组队学习/2024-07大模型框架llama_index/.venv/
/docs/组队学习/2024-06向量数据库Milvus/.venv/
/docs/组队学习/2024-06向量数据库Milvus/volumes/
/docs/组队学习/2024-06向量数据库Milvus/wiki_movie_plots_deduped.csv
